[Unit]
Description=Juno.
After=docker.service
Requires=docker.service
 
[Service]
Type=simple
User=nano
ExecStart=/home/nano/juno/service/runjuno

 
[Install]
WantedBy=multi-user.target
